
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/jquery-ui.css">
<% content_for :head do %>
	<%= javascript_include_tag 'custom-highStock' %>
<% end %>

  
    <!-- Left Sidebar -->
    <!--***************-->
    <div class="col-md-2">
      <%= render :partial => "pick_machine_sidebar" %>
    </div>
    <!--***************-->
    <!-- Left Sidebar -->
    <% if @current_machine.present? %>
    <div class="col-md-2">
      <%= render :partial => "content" %>
    </div>
    <% end %>