
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/jquery-ui.css">
<% content_for :head do %>
	<%= javascript_include_tag 'custom-highStock' %>
<% end %>

  
<!-- Left Sidebar -->
<!--***************-->
<div class="col-md-2">
  <%= render :partial => "pick_machine_sidebar" %>
</div>
<!--***************-->
<!-- Left Sidebar -->
<% if @current_machine.present? %>  
  <%= render :partial => "content" %>
<% end %>


<!-- hourly Stats -->
<!--************-->
<br>
<br>

<!-- <div class="col-md-10 col-md-offset-2" style="margin-top:20px;">
	<div class="panel">
		<div class="panel-heading">
		HOURLY STATS
		</div>
		<div class="panel-body">
			<table class="table table-striped">
			    <thead>
			      <tr>
			        <th>Hour</th>
			        <th>Date</th>
			        <th>Total Datums</th>
			        <th>Total Monitored Time</th>

			      </tr>
			    </thead>
			    <tbody>
			     <% # @hourly_stats.each do |hs| %>
			      <tr>
			        <td><%#= hs.hour %></td>
			        <td><%#= hs.datee %></td>
			        <td><%#= hs.total_datums %></td>
			        <td><%#= hs.total_monitored_time %></td>
			      </tr>
			      <% #end %>
			    </tbody>
			 </table>
		 </div>
 	</div>
 </div> -->

<!--************-->
<!-- hourly Stats -->